/* Example Solution - Kirk Rieberger */

table {
    border-collapse: collapse;
    caption-side: bottom;
}

caption {
    text-align: left;
}

th {
    background: #555;
    color: #FFF;
    text-align: left;
}

td {
    text-align: center;
}

th,
td {
    border: 2px solid #000
}

tr:nth-child(even) {
    background: #BBB;
}

tr:nth-child(odd) {
    background: #DDD;
}

thead td {
    background: #555;
    width: 5em;
}

thead th {
    width: 5em
}