body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

a {
    flex: 1 50px;
}

a:link,
a:visited {
    color: #DDD;
    font-size: x-large;
}


div {
    padding: 0.5rem;
    background-color: grey;
    border: 0.5px solid #BEBEBE;
    text-align: center;
}

div:hover {
    background-color: #BEBEBE;
    color: grey;
}